<!DOCTYPE html>
{% load static %}
<html>

<head>
    <title>Find Books</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <script src="https://code.jquery.com/jquery-1.11.3.js"></script>
    <script src="{% static 'js/index.js' %}"></script>
</head>

<body>
    <div class="container">
        <h1 class = "title">Find Your Book!</h1>
        <form method="GET">
            <input type="text" class="inputan">
        </form>
        <button class="carigan btn btn-dark">cari</button><br>
        <div id="demo">
        </div>
    </div>
</body>

</html>