body{
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#demo{
    display : inline-block;
    max-height: 500px;
    overflow: auto;
}
form{
    display: inline-block;
}

form{
    width: 90%;
}

.inputan{
    width : 100%;
    margin-bottom : 25px;
}

.title{
    text-align: center;
    margin-bottom : 25px;
}

.container{
    margin-top : 3%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    border-radius : 25px;
    max-width: 800px;
}

td{
    padding : 25px;
}